<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body class=" flex md:flex-row sm:w-full ">
    <div class="h-screen bg-zinc-900 text-white  md:w-1/2 w-full  flex flex-col items-center justify-center " > 
        <h3 class=" mb-3 w-80 text-4xl right">Sign up</h3>

        <form method="post" action="/create" class="flex flex-col">
         <input class="px-3 py-2 rounded bg-transparent border-2 border-zinc-800 outline-none m-3 w-80" type="text" placeholder="User Name" name="username">
         <input class="px-3 py-2 rounded bg-transparent border-2 border-zinc-800 outline-none m-3 w-80" type="text" placeholder="Email" name="email">
         <input class="px-3 py-2 rounded bg-transparent border-2 border-zinc-800 outline-none m-3 w-80" type="text" placeholder="Password" name="password">
        
         <div class="flex items-center">
            <input id="link-checkbox" type="checkbox" value="" class=" ms-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="link-checkbox" class="px-3 py-2 rounded bg-transparent outline-none w-80">I agree with the <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">terms and conditions</a>.</label>
        </div>

         <input class="py-3 py-2 rounded bg-blue-500 w-80 outline-none m-3" type="submit" value="Sign Up">
        
         <label class="rounded bg-transparent outline-none mx-3 w-80"> Already have an account ? <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline">Sign In</a></label>
        </form>
    </div>
    <div class="md:w-1/2 flex w-full bg-blue-500 ">
        

    </div>
</body>
</html>